body {
  background-color: black;
  color: white;
  font-family: "Rockwell"
}

h1, h2, h3, h4, h5, h6 {
  background-color: red;
}

p {
  font-size: 16px;
}

div.boldlist ul li {
  font-weight: bold;
}
